header {
  background-color:none;

  color: rgb(255, 255, 255);

 padding: 5px 10px;

  display: flex;

  justify-content: space-between;

  align-items: center;

}

.Logo {
  display: flex;

  align-items: center;

  gap: 15px;

    width: 150px;

  height: 150px;
}

body {
  margin: 0;

  font-family: Arial, sans-serif;

  background-color: #f5f5f5;

background-size: 100% 100%;

  background-image: url("images/ChatGPT.png");

  background-repeat: no repeat;

  min-height: 100vh;
 
  display: flex;

  flex-direction: column;

}

main {
  flex: 1;
}

nav a {
  text-decoration: none;
  color: gold;
  font-size: 18px;
}

nav a {
  text-decoration: none;

  color: gold;

  font-size: 18px;
}

.Logo h1 {
  font-size: 30px;
  color: gold;
}

.Logo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

.hero {
  height: 400px;
 
}

nav a:hover {
  color: white;
}

footer {
  background-color: rgba(0, 0, 0, 0.3);

  color: white;

  text-align: center;

  font-size: 14px;
  
}

header {
  position: relative;
  top: -10px;
}